body{
	margin: 0;
	/*overflow: hidden;*/
}

::-webkit-scrollbar {
    width: 0px;
}

body > .container{
	/*min-height: calc(100vh - 64px);*/
	width: 100%;	
	margin-top: 50px;
	padding-top: 10px;
}

body > .container > .row{
	min-height: calc(100vh - 144px)
}

body > .container > .row > .tabs-content.carousel-slider.carousel{
	min-height: calc(100vh - 144px)
}

/*.container{
	display: flex;
	align-items: center;
	justify-content: center;
}*/

.auto-scroll{
	overflow-y: auto;
}

#plot-container,
#plot-container-lg-screen{
	width: 100%;
	padding: 1em;
}

#plot-container h5,
#plot-container-lg-screen h5{
	color: #888;
}

#plot-container p,
#plot-container span:not(.label),
#plot-container-lg-screen p,
#plot-container-lg-screen span:not(.label){
	color: #555;
	font-size: 0.75em;
	border-bottom: 1px solid rgba(255,255,255,0.1);
	padding-bottom: 1em;
	margin-bottom: 1em;
}

/*#plot-container:hover{
	transform: translate(0,0);
}*/

#plot-container .label,
#plot-container-lg-screen .label{
	color: rgb(0,175,175);
}

#plot-container-lg-screen{
	width: 25vw;
	background-color: white;
	height: 100vh;
	overflow-y: auto;
	/*padding-top: 60px;*/
}

.image-container{
	position: relative;
	margin: auto;
}

.sample-image{
	display: block;
	/*height: 100%;*/
	/*width: 100%;*/
	max-height: 400px;
	max-width: 400px;
}

.point-container{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.click-field{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.point{
	position: absolute;
	display: block;
	height: 0.25em;
	width: 0.25em;
	transform: translate(-0.125em, -0.125em);
	background-color: white;
	border-radius: 50%;
}

#loader{
	background-color: white;
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 25vw;
	z-index: 10;
}

.carousel-item{
	overflow-y: auto;
	min-height: calc(100vh - 114px - 10px)
}